/* Import vp for the validation button */
.vp{
    position: absolute;
    bottom: 1.8%;
    right: 1.8%;
    border-style: groove;
    border-color: darkgrey;
    border-width: 5px;

}
.vp img {
    transition: transform .5s ease-in-out;
}

.vp:hover img {
    transform: scale(1) rotate(25deg);
}
/* Starting from here, you can import challenge to the title of the level or the challenge */
.challenge{
    position: absolute;
    top: 0%;
    left: 0%;
    font-family: "cursive";
    text-decoration-style: solid;
    text-align: center;
    background-image: url("Images/night.jpg");
    -webkit-background-clip: border-box;
    -webkit-animation: star 10s linear infinite;
    -webkit-backface-visibility: hidden;
    border-style: ridge;
    border-width: 4px;
    border-color: sienna;
    font-size: 35px;
}
span{
    display: block;
    background-image: url("Images/fireEffect.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: fire 100s linear infinite;
    -webkit-backface-visibility: hidden;
}

@keyframes fire {
    0%{background-position: 0% -50%;}
    0%{background-position: 50% -100%;}
}
@keyframes star {
    0%{background-position: 0% -25%;}
    0%{background-position: 50% -75%;}
}
/* Import thumb for getting the question mark button on the page */
.thumb {
    position: absolute;
    bottom: 5%;
    left: 0%;
    perspective: 1500px;
}

.thumb a {
    display: flex;
    height: 100px;
    width: 200px;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb:hover a {
    transform: rotateX(90deg);
    transform-origin: top;
}

.thumb a:after {
    position: absolute;
    left: 10%;
    bottom: 10%;
    height: 100px;
    width: 50px;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb a span {
    color: #850c08;
    text-transform: uppercase;
    position: absolute;
    top: 5%;
    left: 5%;
    height: 100px;
    width: 50px;
    font: bold 50px/60px "Open Sans";
    text-align: center;
    transform: rotateX(-90deg);
    transform-origin: top;
    z-index: 1;
}
.helpText{
    position: absolute;
    bottom: 17%;
    left: 2%;
    font-size: 25px;
    font-family: cursive;
    font-palette: dark;
    color: #b2690c;
    -webkit-animation: light 2s ease-in-out infinite alternate;
    -moz-animation: light 2s ease-in-out infinite alternate;
    animation: light 2s ease-in-out infinite alternate;
}

@-webkit-keyframes light {
    from {
        color: #b2690c;
        text-shadow: 0 0 10px #ff3ef9, 0 0 20px #f627ff, 0 0 30px #fd21ff, 0 0 40px #ff4edf, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
    }

    to {
        color: #850c08;
        text-shadow: 0 0 20px #ff3cf2, 0 0 30px #ff34cb, 0 0 40px #ff2aea, 0 0 50px #ff4feb, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
    }
}
 /*  import the level number for your program */
.levelNumber{
    position: absolute;
    text-align: center;
    font-size: 40px;
    border-style: groove;
    border-color: black;
    background-color: black;
    color: chartreuse;
    top: 0%;
    right: 0%;
    font-family: digital;
}
@font-face {
    font-family: "digital";
    src: url("Fonts/digital-7.ttf");
}

